@viewport {
    width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 4;
    orientation: portrait;
    }

.txt-site h1{
    color: #0a4b0d;
    text-align: center;
    font-size: 45px;
    max-width: 1920px;
}

.txt-site h2{
    color: #0a4b0d;
    text-align: left;
    font-size: 32px;
    padding-top: 30px;
    max-width: 1920px;

}

.txt-site h3{
    color: #0a4b0d;
    text-align: left;
    font-size: 28px;
    padding-top: 18px;
    max-width: 1920px;
}

.lista li{
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    max-width: 1920px;
    
}

.imagem-meio{
    display: block;
    margin: 0 auto;
    height: 380px;
    min-height: 300px;
    max-width: 1920px;
}

.azul{
    color: #3366CC;
}

.txt-site p{
    color: #000000;
    margin: 40px 0px;
    font-size: 17px;
    padding-top: 15px;
    padding-right: 150px;
    text-align: justify;
    max-width: 1920px;
}

.pequena{
    width: 450px;
    max-width: 1920px;
}

.pequena-ampliada{
    width: 450px;
    height: 250px;
    max-width: 1920px;
}

.espaco{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    max-width: 1920px;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1920px;
    font-weight: bold;
      
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1920px;
    font-weight: bold;

}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1920px;
    font-weight: bold;

}

.referencia{
    height: 200px;
    max-width: 1920px;
    background-color: #3e7883;
    padding-top: 25px;
}

.branco{
    color:white;
    font-weight: bold;
    padding-left: 20px;
}

.centro-branco{
    text-align: center;
    color: white;

}

/* .titulo{
    text-align: center;
    font-size: 45px;
} */