.txt-site h1{
    color: #000000;
    text-align: center;
    font-size: 45px;
    max-width: 1280px;

}

.txt-site h2{
    color: #000000;
    text-align: left;
    font-size: 32px;
    padding-top: 30px;
    max-width: 1280px;

}

.txt-site h3{
    color: #000000;
    text-align: left;
    font-size: 28px;
    padding-top: 18px;
    max-width: 1280px;
}

.lista li{
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    max-width: 1280px;
    
}

.imagem-meio{
    display: block;
    margin: 0 auto;
    height: 430px;
    min-height: 300px;
    max-width: 1280px;
}

.azul{
    color: #3366CC;
}

.txt-site p{
    color: #000000;
    margin: 40px 0px;
    font-size: 17px;
    padding-top: 15px;
    padding-right: 150px;
    text-align: justify;
    max-width: 1280px;
}

.pequena{
    width: 450px;
    max-width: 1280px;
}

.pequena-ampliada{
    width: 450px;
    height: 250px;
    max-width: 1280px;
}

.espaco{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    max-width: 1280px;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1280px;
      
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1280px;

}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1280px;

}