body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #062024;
    height: 100vh;
    text-align: left;
  }


header{
    text-align: left;
    background-image: linear-gradient(to bottom, #062024, #11393f);
    padding: 10px;
    font-size: 19px;
}


header a{
    color: #F0EADC;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}



header nav ul li{
    display: inline-block;
    align-items: center;
}

header a:hover{
    color: #e4bd24;
    transform: scale(1.05);
    transition: .2s;
}

.flex{
    display: flex;
}

/*Estilo topo do site*/

section.topo-site{
    margin: 90px 4%;
    
}

/*section.topo-site .txt-topo-site .flex{
    justify-content: space-between;
    gap: 90px;
}*/

section.topo-site .txt-topo-site h1{
    color: #d1ccc6;
    font-size: 44px;
    line-height: 40px;
    padding-right: 230px;
}

section.topo-site .txt-topo-site p{
    color: #d1ccc6;
    margin: 20px 0px;
    font-size: 17px;
    padding-right: 250px;
    text-align: justify;
}

section.topo-site .txt-topo-site p span{
    color: #3366CC;
}

section.topo-site .txt-topo-site p .vermelho{
    color: #DC4F4F;
}

section.topo-site .img-topo-site img{
    width: 500px;
    border-radius: 500px;
}


