body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #ebfcf8;
    height: 100vh;
    text-align: left;
    min-width: 750px;
  }

nav {
    max-width: 1920px;
    max-height: 30px;
    margin: auto;
    padding: 1.6rem 8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;


}

.menu {
    display: flex;
    gap: 9rem;
    width: 100vw;
    height: 70px;
    color: #FFFFFF;
    margin-top: 60px;
    text-transform: uppercase;
    min-width: 320px;

}

.menu li {
    font-family: "cinzel", sans-serif;
    font-weight: 700;
    min-width: 320px;

}

.menu li a{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: flexbox;
    align-items: flex-end;
    min-width: 320px;

}



header{
    text-align: center;
    background-image: linear-gradient(to bottom, #062024, #11393f);
    padding: 10px;
    font-size: 19px;
    min-width: 320px;

}



header a{
    color: #F0EADC;
    text-decoration: none;
    min-width: 320px;

}



header nav ul li{
    display: inline-block;
    align-items: center;
    min-width: 320px;

}

header a:hover{
    color: #e4bd24;
    transform: scale(1.05);
    transition: .2s;
    min-width: 320px;

}

.flex{
    display: flex;
    min-width: 320px;

}

.menu{
    display: inline;
    justify-content: space-between;
    min-width: 320px;

}

/*Estilo topo do site*/

section.topo-site{
    margin: 90px 4%;
    
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

/*section.topo-site .txt-topo-site .flex{
    justify-content: space-between;
    gap: 90px;
}*/

section.topo-site .txt-topo-site h1{
    color: #000000;
    font-size: 44px;
    line-height: 40px;
    padding-right: 230px;
    min-width: 320px;

}

section.topo-site .txt-topo-site p{
    color: #000000;
    margin: 20px 0px;
    font-size: 17px;
    padding-right: 250px;
    text-align: justify;
    min-width: 320px;

}

section.topo-site .txt-topo-site p span{
    color: #3366CC;
}

section.topo-site .txt-topo-site p .vermelho{
    color: #DC4F4F;
}

section.topo-site .img-topo-site img{
    width: 500px;
    border-radius: 500px;
}


main{
    min-width: 320px;
}

.img-topo-site picture img{
    width: 100%;
}